<section>
  <div class="container">
    <div *ngIf="error != ''">{{ error }}</div>
    <p *ngIf="items.length === 0">У вас ще немає завданнь</p>
    <div class="newTask">
      <mat-form-field class="example-full-width">
        <input
          matInput
          color="primary"
          type="text"
          [(ngModel)]="newTask"
          placeholder="Напишіть завдання"
        />
      </mat-form-field>
      
      <button mat-stroked-button color="primary" class="addButton" (click)="addFunc()">
        Додати завдання
      </button>
    </div>
    <div
      *ngIf="items.length != 0"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      class="items"
    >
      <div
        *ngFor="
          let item of items.slice(
            pageSize * pageIndex,
            (pageIndex + 1) * pageSize
          )
        "
        class="item"
        cdkDrag
      >
        <mat-checkbox
          [checked]="item.checked"
          (change)="changeFunc(item.id, item.checked)"
        ></mat-checkbox>

        <div>
          <p *ngIf="editId !== item.id" [class.checked]="item.checked">
            {{ item.text }}
          </p>

          <mat-form-field class="example-full-width" *ngIf="editId === item.id">
            <input
              matInput
              type="text"
              (editTask)="(editTask)"
              value="{{ item.text }}"
              (change)="changeHandler($event)"
              (keyup)="keyHandler($event, item.checked)"
            />
          </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-stroked-button color="warn" (click)="deleteFunc(item.id)">
            Видалити завдання
          </button>
          <button mat-raised-button color="primary" (click)="editFunc(item.id)">
            Редагувати завдання
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="saveFunc(item.checked)"
          >
            Зберегти завдання
          </button>
        </div>
      </div>
    </div>

    <mat-paginator
      *ngIf="items.length > 10"
      (page)="handlePageEvent($event)"
      [length]="items.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
